:root {
  --offwhite: #EBEBEB;
  --darkgrey: #1E1E1E;
  --turq: #33cfac;
}

* {
  /* border: 1px solid red; */
  margin: 0;
  font-family: Ubuntu;
  box-sizing: border-box;
}

header img {
  width: 300px;
  margin: 0;
}

header a {
  display: inline-block;
  margin: 0;
}

body {
  color: var(--darkgrey);
  background-color: var(--offwhite);
}

header {
  color: var(--darkgrey);
  background-color: var(--turq);
  margin: 0;
  padding: 30px;
}

footer {
  color: var(--darkgrey);
  background-color: var(--turq);
  margin: 0;
  padding: 30px;
}

nav {
  width: 100%;
}

/* nav li {
  display: inline;
} */

nav div {
  display: inline-block;
}

nav a {
  color: var(--darkgrey);
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  /* vertical-align: middle; */
}

main {
  width: 800px;
  padding: 30px;
  margin: auto;
}

main h1 {
  font-weight: normal;
  padding-bottom: 20px;
  /* border: 1px solid black; */
}

#landing-page body {
  background-color: var(--turq);
  text-align: center;
}

#landing-page img {
  margin: 30px auto;
  max-width: 600px;
}

#landing-page h1 {
  font-size: 30px;
  font-weight: normal;
  margin: 30px;
}

.lang-buttons a {
  width: 300px;
  /* height: 300px; */
  padding: 40px;
  margin: 30px;
  display: inline-block;
  text-decoration: none;
  color: var(--darkgrey);
  background-color: var(--offwhite);
  border: 3px solid var(--darkgrey);
  border-radius: 15px;
}
