:root {
  --offwhite: #EBEBEB;
  --darkgrey: #1E1E1E;
  --turq: #33cfac;
}

* {
  /* border: 1px solid red; */
  margin: 0;
  font-family: Ubuntu;
  box-sizing: border-box;
}

#header-logo-image {
  width: 300px;
}

header a {
  display: inline-block;
}

body {
  color: var(--darkgrey);
  background-color: var(--offwhite);
}

header, footer {
  color: var(--darkgrey);
  background-color: var(--turq); /*var(--darkgrey);*/
  margin: 0;
  padding: 30px;
}

/* h1 {
  color: var(--offwhite);
  display: inline-block;
  padding: 10px;
} */

nav {
  width: 100%;
  display: inline-block;
}

nav ul {
  /* position: relative; */
  /* right: 0; */
  /* float: left; */
}
nav li {
  display: inline;
}
nav div {
  display: inline-block;
}

nav a {
  color: var(--darkgrey);
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}

main {
  width: 600px;
  padding: 30px 0;
  margin: auto;
}

.tenet {
  margin: 30px 0;
}

.language {
  margin: 60px 0;
}

#landing-page body {
  background-color: var(--turq);
  text-align: center;
}

#landing-page img {
  margin: 30px auto;
  max-width: 600px;
}

#landing-page h1 {
  font-size: 30px;
  font-weight: normal;
  margin: 30px;
}

.lang-buttons a {
  width: 300px;
  /* height: 300px; */
  padding: 40px;
  margin: 30px;
  display: inline-block;
  text-decoration: none;
  color: var(--darkgrey);
  background-color: var(--offwhite);
  border: 3px solid var(--darkgrey);
  border-radius: 15px;
}
